<% if (theme.tagline) {%><h2 class="site-subtitle"><%- theme.tagline.main %> <a href="<%- url_for('archives') %>"><strong><%- theme.tagline.highlight %></strong></a></h2><% } %>

<div class="social">
    <ul class="social-links">
        <li>
            <a href="<%- url_for(theme.social.github.link) %>" class="social-link"><i class="fa fa-github" aria-hidden="true"></i> <span class="social-default">Code with Me</span> <span class="social-hover">GitHub</span></a>
        </li>
        <li>
            <a href="<%- url_for(theme.social.twitter.link) %>" class="social-link"><i class="fa fa-twitter-square" aria-hidden="true"></i> <span class="social-default">Tweet to Me</span> <span class="social-hover">Twitter</span></a>
        </li>
        <li>
            <a href="<%- url_for(theme.social.instagram.link) %>" class="social-link"><i class="fa fa-instagram" aria-hidden="true"></i> <span class="social-default">Instagram with Me</span> <span class="social-hover">Instagram</span></a>
        </li>
        <li>
            <a href="<%- url_for(theme.social.linkedin.link) %>" class="social-link"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="social-default">Link with Me</span> <span class="social-hover">LinkedIn</span></a>
        </li>
    </ul>
    <p>
        <strong>let's talk |</strong> dan(at)gautsch.codes
    </p>
</div>
