<%- partial('_partial/head') %>
<body>
    <div class="wrapper">
        <%- partial('_partial/header') %>
        <div id="main" class="container"><%- body %></div>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after_footer') %>
</body>
</html>
